$primary-color: #343dff;
$secondary-color: #14173f;
$tertiary-color: #00006e;

$light-gray: #555;
$light-color: #fff;
$light-blue: #e0e0ff;
$color-red: #b01313;
$dark-color: #000;
$light-purple: #6750a4;
$dark-purple: #21005d;

//font styles
$font-smaller: 1.2rem;
$font-small: 1.6rem;
$font-medium: 2.2rem;
$font-large: 3.6rem;
$font-larger: 4.8rem;
$font-extra-large: 6.8rem;
