.couresel {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  &-btn {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    text-align: center;
    border: 1px solid $secondary-color;
  }
}
